.bg-container{
    background-color: #3a6781;
    padding: 30px;
    height: 100vh;
}
.Grocery-heading{
    font-family: "Roboto";
    font-weight: 400;
    font-style:italic;
    color: antiquewhite;
    text-align: center;
}
.sub-container{
    
}